.aboutUs{
    min-height: 948px;
    max-width: 1921px;
    margin: 0 auto; 
    background: aquamarine;
}

.jumpHorse {

    position: absolute;
    width: 871px;
    height: 529px;
    left: 145px;
    top: 1073px;
    

}

.aboutUs_container{

    position: absolute;
    width: 570px;
    height: 548px;
    left: 1013px;
    margin-top: 106px;

}




.aboutUs_greenText {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
    /* or 67px */
    
    
    color: #008139;
}
.aboutUs_strongText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */


    color: #0B0B0B;
}
.aboutUs_greyText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */


    color: #7E7E7E;
}