.aboutUs{
    min-height: 948px;
    max-width: 1921px;
    margin: 0 auto; 
    /* background: aquamarine; */
}

.jumpHorse {

    position: absolute;
    max-width: 871px;
    min-width: 517px;
    max-height: 529px;
    min-height: 313px;

    margin-left: 145px;
    margin-top: 125px;
    

}

.aboutUs_container{

    width: 541px;
    height: 283px;
    margin-left: 1014px;
    margin-top: 106px;

    display: grid;
    grid-template-columns: 1.5fr 2.2fr;
    column-gap: 30px;

}

.aboutUs_complektContainer{
    max-width: 266px;
    max-height: 142px;
    /* background: #7E7E7E; */
}

.aboutUs_greenText {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
    /* or 67px */
    
    
    color: #008139;
}
.aboutUs_strongText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */


    color: #0B0B0B;
}
.aboutUs_greyText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    
    margin-left: 1014px;
    margin-top: 10px;

    color: #7E7E7E;

}

.aboutUs_greyTextNoBr {
    display: none;
}

.problem780on {
    display: none;
}

@media (max-width: 1920px) {
    .jumpHorse {
        right: 900px;
        margin-left: 1px;
    }

    .aboutUs_container{
        margin-left: 930px;
    }

    .aboutUs_greyText {
        margin-left: 930px;
    }
}

@media (max-width: 1700px) {
    .jumpHorse {
        right: auto;
        margin-left: 0px;
        max-width: 783px;
        max-height: 476px;
    }

    .aboutUs_container{
        margin-left: 800px;
    }

    .aboutUs_greenText {

        font-size: 38px;

    }

    .aboutUs_strongText {

        font-size: 16px;

    }

    .aboutUs_greyText {
        margin-left: 800px;
    }

   }

@media (max-width: 1400px) {
    .jumpHorse {

        max-width: 696px;
        max-height: 423px;
    }

    .aboutUs_container{
        margin-left: 660px;
    }

    .aboutUs_greenText {

        font-size: 36px;

    }

    .aboutUs_strongText {

        font-size: 15px;

    }

    .aboutUs_greyText {
        margin-left: 660px;
        font-size: 14px;
    }

   }
@media (max-width: 1200px) {
    .jumpHorse {

        max-width: 609px;
        max-height: 370px;
    }
    .aboutUs_container{
        margin-left: 590px;
    }
    .aboutUs_greyText {
        margin-left: 590px;
    }
}

@media (max-width: 1150px) {
    .jumpHorse {

        max-width: 522px;
        max-height: 317px;

        margin-top: 21px;
    }
    .aboutUs_container{
        margin-left: 510px;
    }
    .aboutUs_greyText {
        margin-left: 510px;
    }
}

@media (max-width: 1050px) {

    .aboutUs{
        margin-top: 89px;
/* background: beige; */
    }

    .aboutUs_container{

        width: 546px;
        height: 257px;
        margin-left: 475px;
        margin-top: 61px;
    
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        column-gap: 30px;
    
    }
    .jumpHorse {
        max-width: 517px;
        min-width: 451px;
        max-height: 313px;
        min-height: 273px;
        margin-left: -27px;
    }

    .aboutUs_greenText {

        font-size: 32px;

    }

    .aboutUs_strongText {

        font-size: 15px;

    }

    .aboutUs_greyText {
        display: none;
    }

    .aboutUs_greyTextNoBr {
        display: block;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 50px;
        max-width: calc(100%-36px);

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;

        color: #7E7E7E;
    }
}

@media (max-width: 970px) {
    .aboutUs_container{

        width: 500px;
        height: 230px;
        margin-left: 440px;
    
  
    }
    .jumpHorse {
        max-width: 517px;
        min-width: 451px;
        max-height: 313px;
        min-height: 273px;
        margin-left: -47px;
    }
    .aboutUs_greenText {

        font-size: 34px;

    }
    .aboutUs_strongText {

        font-size: 14px;

    }
}

@media (max-width: 940px) {
    .aboutUs_container{

        width: 460px;
        height: 248px;
        margin-left: 400px;
        
  
    }
    .jumpHorse {
        max-width: 490px;
        min-width: 451px;
        max-height: 300px;
        min-height: 273px;
        margin-left: -47px;

    }
    .aboutUs_greenText {

        font-size: 33px;

    }
    .aboutUs_strongText {

        font-size: 13px;

    }
}

@media (max-width: 860px) {
    .aboutUs_container{

        width: 420px;
        margin-left: 370px;   

    }
    .jumpHorse {
        max-width: 470px;
        min-width: 451px;
        max-height: 280px;
        min-height: 273px;
        margin-left: -47px;

    }
    .aboutUs_greenText {

        font-size: 32px;

    }
}
@media (max-width: 790px) {
    .aboutUs_container{

        width: 420px;
        margin-left: 363px;   
        margin-top: 38px;
    }
    .jumpHorse {
        max-width: 451px;
        min-width: auto;
        max-height: 273px;
        min-height: auto;
        margin-left: -47px;
        margin-top: 38px;
    }

}

@media (max-width: 780px) {
    .aboutUs_container{
        margin-left: 10px;
        margin-right: 10px;
        width: auto;

        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        /* background: #7E7E7E; */
    }
    .aboutUs_greenText{
        text-align: center;
    }
    .aboutUs_strongText{
        text-align: center;
    }

    .jumpHorse {
        display: none;
    }
    .problem780off {
        display: none;
    }
    .problem780on {
        display: block;
    }
}

@media (max-width: 600px) {
    .aboutUs_container{

        height: 188px;
  
    }
    .aboutUs_greenText {

        font-size: 27px;

    }
    .aboutUs_strongText {

        font-size: 12px;

    }
    .aboutUs_greyTextNoBr {

        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100%-20px);
    }
}

@media (max-width: 400px) {
    .aboutUs_container{

        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100%-20px);
        height: 361px;
        grid-template-columns: 1fr;

  
    }
    .aboutUs_complektContainer{
        max-width: 100%;
        max-height: 142px;
        
    }

    .aboutUs_greenText {

        font-size: 27px;

    }
    .aboutUs_strongText {

        font-size: 12px;

    }

}