.contactsMap {

    margin-top: 150px;

    background: url(../localData/img1920/bigMap.png);
    height: 650px;
    width: 100wv;
    max-width: 1920px;
    overflow: visible;
    display: flex;

}

.contacts {
    
    /* position: absolute; */
    min-width: 521px;
    min-height: 511px;

    margin: 70px 1024px 69px 375px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    border-radius: 5px;

}

.h2BlockStyle {
    margin-top: 50px;
    margin-left: 70px;

    text-align: left;
    top: 50px;

    color: #000000;

}

.grenLine {
    
    width: 26px;
    height: 1px;

    border: none;
    color: #008139;
    background: #008139;
    background-color: #008139;


    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 70px;

}



.contacts p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #363434;

}

.contacts-adress-img {
    margin: 0px auto auto 70px;
    width: 14px;
    height: 22px;
}

.contacts-adress {
    margin: -24px auto auto 111px;

}

.contacts-phone-img {
    margin: 26px auto auto 70px;
    width: 19px;
    height: 19px;
}

.contacts-phone {
    margin: -22px auto auto 111px;

}

.contacts-mail-img {
    margin: 26px auto auto 70px;
    width: 22px;
    height: 16px;
}

.contacts-mail {
    margin: -22px auto auto 111px;

}

.contacts-clock-img {
    margin: 26px auto auto 70px;
    width: 20px;
    height: 20px;
}

.contacts-clock {

    margin: -27px auto auto 111px;

}

.contacts-clock span {

    text-align: left;
    display: block;
    /* padding: 1px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #363434;

}

.contactsMenu {
    width: 167px;
    margin-top: 30px;
    margin-left: 282px;
    
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.contactsMenuInstagram {
    
    background: url(../localData/img1920/instagram.png);
    width: 32px;
    height: 32px;
    border-radius: 47px;
    border: none;

}
.contactsMenuInstagram:hover {
    background: url(../localData/img1920/instagramA.png);
}

.contactsMenuYoutube {
    
    background: url(../localData/img1920/youtoobe.png);
    width: 32px;
    height: 32px;
    border-radius: 47px;
    border: none;

}
.contactsMenuYoutube:hover {
    background: url(../localData/img1920/yuotoobeA.png);
}

.contactsMenuWhatsup {
    
    background: url(../localData/img1920/whatsup.png);
    width: 32px;
    height: 32px;
    border-radius: 47px;
    border: none;

}
.contactsMenuWhatsup:hover {
    background: url(../localData/img1920/whatsupA.png);
}

.contactsMenuVK {
    
    background: url(../localData/img1920/vk.png);
    width: 32px;
    height: 32px;
    border-radius: 47px;
    border: none;

}
.contactsMenuVK:hover {
    background: url(../localData/img1920/vkA.png);
}
