footer {
    height: 138px;
    width: 100wv;
    max-width: 1920px;
    overflow: visible;
    /* margin: 0 auto; */

    background: #0B0B0B;
    display: flex;
}


.footerMenu {

    background: white;
    min-width: 1171px;
    min-height: 89px;
    margin: 24px 375px 24px 375px;

}




/* .footerMenu div a {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;

    color: #EAEAEA;

}

.privacyPolicy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;

    color: #7D808A;

} */