.hamburger-menu {
    
    display: none;

    width: 77px;
    height: 29px;

    border: 1px solid #008139;
    border-radius: 3px;

    justify-content: space-between;
    align-items: center; 

    margin: 15px auto auto 113px;
}


.hamburger-menu p {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #202020;

    margin-right: 10px;

    /* z-index: 1; */

}



.menu__btn {

    width: 10px;
    height: 10px;

    cursor: pointer;
    z-index: 1;
    margin-left: -20px;
    margin-top: 6px;

}

.menu__box {

    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 50%;
    height: 100%;

    margin: 0;
    padding: 50px 0;

    list-style: none;

    background-color: #0D0D0D;
    box-shadow: 1px 0px 6px #008139;

    transition-duration: .25s;
}

.menu__item {
    
    display: block;
    padding: 12px 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;

    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;

    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
    /* border-bottom: 1px solid #CFD8DC; */
}


#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    /* top: 0px;
    left: 0px; */
    transform: rotate(45deg);

    background-color: #FFFFFF;
    width: 17px;
    height: 1px;

    left: 45%;

}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0px;
    transform: rotate(0);

    background-color: #FFFFFF;
    width: 17px;
    height: 1px;
}

#menu__toggle:checked~.menu__btn>span::after {
    
    top: 0px;
    transform: rotate(90deg);

    background-color: #FFFFFF;
    width: 17px;
    height: 1px;

}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0px;
}

 /* добавляем "гамбургер" */ 
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 10px;
    height: 2px;

    background-color: #008139;

    transition-duration: .25s;
    /* margin-left: -15px; */
}

.menu__btn>span::before {
    content: '';
    top: -4px;
}

.menu__btn>span::after {
    content: '';
    top: 4px;
}


@media (max-width: 480px) {
    
    .hamburger-menu{
        display: flex;
    }
    
}

@media (max-width: 400px) {
    
    .hamburger-menu{
        display: flex;
        margin: 15px 10px auto auto; 
    }
    .menu__box {
        width: 75%;
    } 
    #menu__toggle:checked~.menu__btn>span {
        left: 70%;
    
    }
}

@media (max-width: 320px) {
    
    .hamburger-menu{
        display: flex;
        margin: 15px 10px auto auto; 
    }
    .menu__box {
        width: 99%;
    } 

    #menu__toggle:checked~.menu__btn>span {
        left: 5px;
    }
}
