header {

    background-image: url(../localData/img1920/background1.jpg);
    min-height: 948px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/* Меню ++ */
.headMenu {

    background: #8F8F8F;
    height: 60px;
    max-width: 1170px;
    
    display: flex;
    margin: 0 auto; 

}

/* -Логотип ++ */
.header-Logo {

    width: 152px;
    height: 49px;
    margin-top: 9px;

}
/* -Логотип -- */

header nav {

    width: 428px;
    height: 25px;

    display: flex;
    margin: 28px 57px 0 auto;

}

 .mainMenu {

    width: 428px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mainMenu li {
    display: inline-block;
}

.mainMenu a {

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #202020;

} 

.mainMenu a:hover {
    border-bottom: 1px solid #008139;
}
/* Меню -- */


/* Телефон ++ */
.telephoneHead {

    padding-left:26px;
    margin-top: 25px;

    width: 186px;
    height: 44px;

    background-image:url('../localData/img1920/tel.svg');
    background-repeat:no-repeat;
    background-size:16px 16px;
    background-position:left 4px;

}

.telephoneHead a {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    text-decoration: none;
    color: #202020;

}

.telephoneHead p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    margin-top: 8px;

    color: #7D808A;

}
/* Телефон -- */

/* Заголовок и кнопка ++ */
.titleAndButton {
    
    position: absolute;
    margin-top: 88px;
    margin-left: 376px;

}

.titleAndButton p {

    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;


    color: #646464;

    flex: none;
    order: 2;
    flex-grow: 0;

}
.titleAndButton strong {
    color: #646464;
}

.titleAndButton hr {
    width: 26px;
    height: 1px;

    border: none;
    color: #8F8F8F;
    background: #8F8F8F;
    background-color: #8F8F8F;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 27px;
    margin-bottom: 27px;
}

.recordBtnSize {
    width: 270px;
    height: 70px;
    left: 0px;
    top: 272px;

    margin-top: 27px;
}
/* Заголовок и кнопка -- */

/* Бантики ++ */
.leftBush {

    position: absolute;
    width: 211px;
    height: 435px;
    top: 449px;

}
.rightBush {
    position: absolute;
    width: 167px;
    height: 632px;
    margin-left: 1753px;
    top: 241px;
}

.bigHorse {

    position: absolute;
    width: 557px;
    height: 671px;
    top: 181px;
    margin-left: 973px;

}

.Seagulls {
    position: absolute;
    width: 272px;
    height: 86px;
    top: 157px;
    margin-left: 1409px;
}

/* fix */
.Heavens {
    position: absolute;
    width: 1920px;
    height: 170px;
    /* left: 0px; */
    top: 688px;
}
/* Бантики -- */


@media (max-width: 1000px) {
    
    header {

        background-image: url(../localData/img1000/background1.png);
        min-height: 611px;
        background-size: cover;

    }

    .headMenu {

        max-width: 960px;

    }

    .header-Logo {

        width: 152px;
        height: 49px;
    
    }

    header nav {

        margin: 28px auto 0 auto;

    }

    .telephoneHead {

        width: 186px;
        height: 44px;
    }
    

}
@media (max-width: 768px) {
    header {
    
        background-image: url(../localData/img768/background1.png);
        min-height: 539px;
        background-size: cover;
    
    }

    .headMenu {

        max-width: 728px;
        height: 60px;

    }

    .header-Logo {

        width: 120px;
        height: 39px;
        margin-top: 10px;
    }

    header nav {

        width: 262px;
        height: 13px;
        
        display: flex;
        margin: 29px auto 0 auto;

    }

    .mainMenu a {

        font-size: 11px;
        line-height: 13px;
        
    } 

    .telephoneHead {

        padding-left:18px;
        background-size:13px 13px;
        width: 142px;
        height: 36px;
    }

    .telephoneHead a {

        font-size: 14px;
        line-height: 16px;
    
    }
    
    .telephoneHead p {
    
        font-size: 11px;
        line-height: 13px;
        margin-top: 7px;
    
    }


}

@media (max-width: 520px) {
    .header-Logo {

        width: 89px;
        height: 29px;
        margin-top: 15px;
    }

    .telephoneHead {

        padding-left:12px;
        background-size:10px 10px;

        width: 110px;
        height: 29px;
        margin-top: 15px;
    
    }
    .telephoneHead a {

        font-size: 11px;
        line-height: 13px;
    
    }
    
    .telephoneHead p {
    
        font-size: 9px;
        line-height: 11px;

        margin-top: 5px;
    
    }
}

@media (max-width: 480px) {

    .mainMenu {
        display: none;
    }
    header nav {
        display: none;
    }

    header {
        
        background-image: url(../localData/img480/background1.png);
        min-height: 564px;
        background-size: cover;
    }

     .header-Logo {

        width: 89px;
        height: 29px;

    } 


    .telephoneHead {

        padding-left:12px;
        background-size:10px 10px;

        width: 110px;
        height: 29px;

        margin: 15px 0px auto 10px;
    
    }
    .telephoneHead a {

        font-size: 11px;
        line-height: 13px;
    
    }
    
    .telephoneHead p {
    
        font-size: 9px;
        line-height: 11px;

        margin-top: 5px;
    
    }
}

@media (max-width: 320px) {
    header {
        
        background-image: url(../localData/img320/background1.png);
        min-width: 320px;
        background-size: cover;
    }
    .header-Logo {

        width: 89px;
        height: 29px;
        margin: 15px auto auto 10px;
    }

    header nav {
        display: none;
    }

    .telephoneHead {
        display: none;
    }

}