.header {
    background-image: url(/localData/img1920/background1.jpg);
    width: 1920px;
    max-width: 1920px;
    height: 948px;
}

.header-Logo img {
    width: 152px;
    height: 49px;
    margin-top: 9px;
    margin-left: 375px;
}

nav {
    /* border-bottom: 1px solid #828282;
    height: 88px;
    display: flex;
    align-items: center; */
    justify-content: space-between;
}

header p {

    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #646464;

}

nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;

    color: #202020;

}

nav a img{

    width: 16px;
    height: 16px;
    /* right: 170px; */
    /* top: 20px; */
    
    /* background: #008139; */

}