header {
    background-image: url(/localData/img1920/background1.jpg);
    width: 1920px;
    max-width: 1920px;
    height: 948px;
}

.header-Logo img {

    position: absolute;
    width: 152px;
    height: 49px;
    margin-top: 9px;
    margin-left: 376px;

}

/* nav {
    position: absolute;
    width: 875px;
    height: 25px;
    left: 499px;
    top: 19px;
} */

/* header p {

    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #646464;

} */

/* nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;

    color: #202020;

} */


.titleAndButton {
    position: absolute;
    margin-top: 157px;
    margin-left: 376px;

}
.titleAndButton hr {
    width: 26px;
    height: 1px;

    background: #8F8F8F;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 27px;
    margin-bottom: 27px;
}

.recordButton {
    width: 270px;
    height: 70px;
    left: 0px;
    top: 272px;

    margin-top: 27px;
}