@font-face {
    font-family: "Philosopher";
    src: url(../fonts/philosopher.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "AlegreyaSans";
    src: url(../fonts/AlegreyaSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #070707;
}

body {

    /* width: 100wv;
    max-width: 1920px;
    overflow: visible;
    margin: 0 auto; */

}

h1 {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    /* line-height: 107%; */
    
    color: #000000;
}

h2 {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.standartTextBtn{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 32px;

    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #6A5300;
}

.standartBtn {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
    box-shadow: 0px 4px 0px #C89C00;
    border-radius: 5px;
    border: none;
}

.standartBtn:hover {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
}

.standartBtn:active {
    background: linear-gradient(0deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px -4px 0px #C89C00;
}


.dot_navigation {

    width: 210px;
    height: 40px;
    margin-left: 855px;

    display: flex;

    justify-content: space-between;
    align-items: center;

}

.standartNavigationLeftBtn {

    background-image: url(../localData/navigation/left.png);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.standartNavigationLeftBtn:hover {

    background-image: url(../localData/navigation/leftActive.png);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.standartNavigationRightBtn {

    background-image: url(../localData/navigation/right.png);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.standartNavigationRightBtn:hover {

    background-image: url(../localData/navigation/rightActive.png);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

@media (max-width: 1000px) {
    
    h1 {

        font-size: 47px;

    }

    h2 {

        font-size: 36px;
        line-height: 36px;
        
    }

    .standartTextBtn{
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    
    h1 {

        font-size: 37px;

    }

    h2 {

        font-size: 27px;
        line-height: 27px;
    }

    .standartTextBtn{
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    
    h1 {

        font-size: 33px;
        text-align: center;
        margin-top: 90px;
    }
    
    h2 {

        font-size: 27px;
        line-height: 27px;

    }
}

@media (max-width: 360px) {
    
    h1 {

        font-size: 24px;
        text-align: center;

    }

    h2 {

        font-size: 21px;
        line-height: 21px;

    }
}